# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Assets
flask_sqlalchemy

# Automated tests
pytest
pytest-cov

pandas
dash
gunicorn
brotli
brotlipy

lesscpy
cssmin
jsmin
celery
